<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page non trouvée</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="body" class="d-flex flex-column min-vh-100">
    <div class="container my-5 flex-grow-1">
        <h1 class="text-center mb-5">Oups ! Cette page est introuvable.</h1>
        <p class="text-center">Il semble que vous ayez trouvé une page qui n'existe pas. Désolé pour cela.</p>
        <div class="text-center">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>
    <footer class="text-center py-4">
        &copy; 2024 Rafael ISTE Tous droits réservés.
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const body = document.getElementById('body');
        if (localStorage.getItem('theme') === 'dark') {
            body.classList.add('dark-theme');
        } else {
            body.classList.add('light-theme');
        }
    </script>
</body>
</html>
